
.wrapR{
    margin:auto;
    margin-top: 8vh;
    padding:8px;
    background-color:azure;
    width:45vh;
    height:68vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(2px 2px 2px black);
    border-radius: 6px;
    
}
.h1R{
    color: rgb(28, 140, 184);
    font-size:6vh;
    padding-top:1vh;
    margin-bottom: 1vh;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 7vh;
    text-align: center;
    
    
}
.boxR{
    text-align: center;
    width: 100%;
    height: 15vh;
    margin-bottom: 3vh;
}
.boxR label{
    font-size: 4vh;
    width: 100%;
    font-weight: bold;
    margin-bottom:3vh;
    
}
.boxR input{
    margin-top: 5px;
    font-size: 2.5vh;
    padding: 3px;
    width: 100%;
    height: 6vh;
    outline: none;
    border:none;
    border-bottom: 1px solid red;
}
.box1R{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 8vh;
    width: 100%;
}
.buttonR{
    width: 15vh;
    height:7vh;
    padding: 0.5vh;
    font-size: 3vh;
    font-weight: bold;
    color:darkolivegreen;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 4px;
}
.buttonR:hover{
    opacity: 0.9;
    color: bisque;
    background-color: rgb(70, 219, 219);
    transform: scale(1.1);
}
.pR{
    font-size:3vh;
    margin-top:1vh;
    text-decoration: none;
    color: pink;
    cursor: pointer;
}
.pR:hover{
    color:red;
}
.pR{
    margin-bottom:1vh;
}